#root {
  margin: 0 ;
  padding: 0;
  text-align: center;

}

body { 
  min-height: 100vh;
}


@media screen and (max-width: 1330px) {
    .form-body {
        width: 50%;
    }
    .input-box {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .form-body {
        width: 90%;
        height: auto;
    }
}